/* reset */
* {
  margin: 0;
  padding: 0;
  font-family: 'Nanum Pen Script', cursive;
  color: rgb(0, 0, 0);
}

html {
    overflow-y: scroll;
}

body{
      background: radial-gradient(ellipse at 15% 15%, #b16064, #a5292e, #710d10);
}

h1{
  position: fixed;
  text-align: center;
  width: 100%;
  top: 10px;
  font-weight: 100;
}

.ballon {
  position: absolute;
  width: 100px;
  height: 155.5px;
  bottom: -160px;
  transform-origin: 37.5px 0px;
}

.yellow {
  will-change: transform;
  animation: float 5s 0s linear infinite;
  left: 10%;
}

.green {
  will-change: transform;
  animation: float 5s 3s linear infinite;
  left: 50%;
}

.blue {
  will-change: transform;
  animation: float 5s 4s linear infinite;
  right: 5%;
}

.red {
    will-change: transform;
    animation: float 5s 6s linear infinite;
    right: 30%;
  }

.wind {
  will-change: transform;
  overflow: hidden;
  width: 90vw;
  height: 100vh;  
}

.parentwind {
  position: absolute;
  width: 100%;
  top: 100%;
  animation: wind 10s ease-in-out infinite;
}
@keyframes float {
  0% { transform: translateY(0px) rotate(5deg);}
  100% { transform: translateY(-200vh) rotate(0deg);}
}

@keyframes wind {
  0% { transform: translateX(0px);}
  10% { transform: translateX(10px);}
  30% { transform: translateX(-5px);}
  66% { transform: translateX(3px);}
  86% { transform: translateX(-10px);}
  100% { transform: translateX(0px);}
}