/* reset */
* {
    margin: 0;
    padding: 0;
    font-family: 'Nanum Pen Script', cursive;
    color: rgb(0, 0, 0);
}
.container{
    /* border: 1px solid red; */
    display: block;
    justify-content: center;
    align-items: center;
}
.fadein_1 {
    /* border: 1px solid red; */
    display: block;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    margin-top: 60px;
    margin: 10px;
    padding: 10px;
    animation: fadein 3s;
    -moz-animation: fadein 3s;
    /* Firefox */
    -webkit-animation: fadein 3s;
    /* Safari and Chrome */
    -o-animation: fadein 3s;
    /* Opera */
}
.fadein_2 {
    /* border: 1px solid red; */
    display: block;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
    margin: 10px;
    padding: 10px;
    animation: fadein 9s;
    -moz-animation: fadein 9s;
    -webkit-animation: fadein 9s;
    -o-animation: fadein 9s;
}
.fadein_3 {
    /* border: 1px solid red; */
    display: block;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
    margin: 10px;
    padding: 10px;
    animation: fadein 27s;
    -moz-animation: fadein 27s;
    -webkit-animation: fadein 27s;
    -o-animation: fadein 27s;
}
.fadein_4 {
    /* border: 1px solid red; */
    display: block;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
    margin: 10px;
    padding: 10px;
    animation: fadein 33s;
    -moz-animation: fadein 33s;
    -webkit-animation: fadein 33s;
    -o-animation: fadein 33s;
}
.fadein_5 {
    /* border: 1px solid red; */
    display: block;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
    margin: 10px;
    padding: 10px;
    animation: fadein 39s;
    -moz-animation: fadein 39s;
    -webkit-animation: fadein 39s;
    -o-animation: fadein 39s;
}
.fadein_6 {
    /* border: 1px solid red; */
    display: block;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
    margin: 10px;
    padding: 10px;
    animation: fadein 45s;
    -moz-animation: fadein 45s;
    -webkit-animation: fadein 45s;
    -o-animation: fadein 45s;
}
.choice {
    /* border: 1px solid red; */
    display: block;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
    margin: 10px;
    padding: 10px;
    animation: fadein 51s;
    -moz-animation: fadein 51s;
    -webkit-animation: fadein 51s;
    -o-animation: fadein 51s;
}
.choice > h1{
    color: crimson;
}
.btn {
    /* border: 1px solid red; */
    display: block;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
    margin: 10px;
    padding: 10px;
    animation: fadein 57s;
    -moz-animation: fadein 57s;
    -webkit-animation: fadein 57s;
    -o-animation: fadein 57s;
}

.btn_result{
    font-size: 35px;
    width: 150px;
    height: 60px;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: dodgerblue;
    color: rgb(0, 38, 165);
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
}
.btn_result:hover{
    background-color: rgb(255, 255, 255);
    transition: 0.6s;
}
h1 {
    text-align: center;
    font-size: 35px;
}
@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {

    /* Firefox */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {

    /* Safari and Chrome */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {

    /* Opera */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}