/* reset */
* {
  margin: 0;
  padding: 0;
  font-family: 'Nanum Pen Script', cursive;
  color: rgb(0, 0, 0);
}

body {
  overflow: hidden;
  font-size: 16px;
}

.contentWrap {
  background: linear-gradient(120deg, #0272a4, #f6a564);
  /* transition: background 1s ease-out; */
  width: 100vw;
  height: 100vh;
  touch-action: none;
}

.contentWrap .album {
  position: absolute;
  top: 47%;
  left: 55%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 400px;
  visibility: hidden;
  opacity: 0;
  transition: all .4s ease-in-out;
}

@media only screen and (max-width: 720px) {
  .contentWrap .album {
    top: 40%;
    width: 300px;
    height: 200px;
  }
}

.contentWrap .album.active {
  visibility: visible;
  opacity: 1;
  left: 50%;
}

.contentWrap .album.active .disk {
  left: 180px;
  transition-delay: .5s;
}

@media only screen and (max-width: 720px) {
  .contentWrap .album.active {
    left: 45%;
  }
  .contentWrap .album.active .disk {
    left: 35%;
    transition-delay: .5s;
  }
}

.contentWrap .album .coverImg {
  position: absolute;
  width: 400px;
  height: 400px;
  box-shadow: 2px 14px 40px rgba(0, 0, 0, 0.3);
}

.contentWrap .album .coverImg img {
  width: inherit;
  height: inherit;
}

@media only screen and (max-width: 720px) {
  .contentWrap .album .coverImg {
    width: 250px;
    height: 250px;
  }
}

.buttonWrap {
  position: fixed;
  bottom: 5vh;
  text-align: center;
  width: 100%;
}

.buttonWrap button {
  padding: 6px 20px;
  margin: 0 3px;
  background-color: #000;
  color: #fff;
  transition: all .3s ease-out;
}

.buttonWrap button:hover {
  background-color: #fff;
  color: #000;
}

.buttonWrap .pointWrap {
  position: relative;
  display: inline-block;
  padding: 0 10px;
}

.buttonWrap .pointWrap li {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  text-align: center;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  transition: background .3s ease-out;
}

.buttonWrap .pointWrap li.active {
  background-color: black;
}

@keyframes rotateAni {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
